<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter - Signup or Login</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/components.css">
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="../scripts/auth.js" defer></script>
</head>
<body>
<div class="body">
    <div class="container shadow">
        <img src="../assets/auth/hero.svg" alt="">
        <!-- <div class="hero"></div> -->
        <div class="content">
            <h1 class="fs-40 txt-ntrl-70">Counter</h1>
            <h2 class="fs-48 px-3">Signup or Login</h2>
            <form>
                <div class="grid gap-6">
                    <div class="input-label">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="john_fitness" required class="input-1">
                    </div>
                    <div>
                        <div class="input-label">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="password123" required class="input-1">
                        </div>
                        <p id="error_message" class="fs-14 txt-prim-red"></p>
                    </div>
                    <div class="flex jc-btwn">
                        <button type="button" data-action="/signup" class="button-1 bg-prim-blue">Sign Up</button>
                        <button type="button" data-action="/login" class="button-1 bg-prim-green">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>