<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter - Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <script type="module" src="../scripts/dashboard.js" defer></script>
</head>
<body>
    <div class="sidebar fw-b bg-ntrl-80 shad"> 
        <div class="logo flex ai-cntr gap-1">
            <img src="../assets/dashboard/logo.svg" alt="">
            <p class="fs-24 fw-b text-ntrl-10">Counter</p>
        </div>
        <nav>
            <ul>
                <a href="/dashboard">
                    <li class="flex ai-cntr gap-1 bg-acnt-yellow">
                        <img src="../assets/dashboard/dashboard.svg" width="20" alt="">
                        <p>Dashboard</p>
                    </li>
                </a>
                <li class="flex ai-cntr gap-1 bg-acnt-lightblue">
                    <img src="../assets/dashboard/food_list.svg" width="20" alt="">
                    <a href="/foodlist">Food List</a>
                </li>
                <li class="flex ai-cntr gap-1 bg-acnt-purple">
                    <img src="../assets/dashboard/recipes.svg" width="20" alt="">
                    <a href="/recipes">Recipes</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main bg-ntrl-20 shad">
        <div class="section-title">
            <h2 class="fs-28 fw-b line-ht-1 ">Today</h2>
            <p class="text-ntrl-60">Feb 11, 2025</p>
            <img class="title-dropdown" src="../assets/dashboard/dropdown.svg" width="15" alt="">
        </div>
        <div class="today-section">
            <div class="today__calories bg-ntrl-10 shad-2">
                <h3 class="sub-section-title">Calories</h3>
                <!-- TODO: Temp place to display calories! -->
                <p id="calories_today">0</p>
<!--                 <svg class="svg" width="100" height="100">
                    <path class="progress-track" d="
                      M 15 80
                      A 43 43, 0 1 1, 85 80
                    " stroke="#ddd" stroke-width="7" fill="transparent" stroke-linecap="round"/>
            
                    <path class="progress-bar" stroke-dashoffset="189.5" stroke-dasharray="189.5"  d="
                      M 15 80
                      A 43.1 43.1, 0 1 1, 85 80
                    " stroke-width="7" fill="transparent" stroke-linecap="round"/>
            
                    <path class="indicator-pointer" d="
                      M 20 55
                      A 30 30, 0 0 1, 47 25
                      L 50 21
                      L 53 25
                      A 30 30, 0 0 1, 80 55
                      A 2 2, 0 0 1, 20 55
                    " fill="#ddd"/>
                    <text class="indicator-text" x="50%" y="54%" dominant-baseline="central" text-anchor="middle" fill="black">0</text>
                </svg> -->
            </div>
            <div class="today__calorie-info bg-ntrl-10 shad-2">
                <h3 class="sub-section-title">Today's Calorie Info</h3>
                <div class="flex gap-5">
                    <div>
                        <div class="flex gap-1">
                            <p class="fs-20 text-ntrl-30">Your Goal</p>
                            <img src="../assets/dashboard/edit_icon.svg" alt="">
                        </div>
                        <p id="user-cal-goal" class="fs-40 fw-b letter-sp-1 text-prim-blue">0</p>
                    </div>
                    <div class="flex-col ai-cntr">
                        <p id="calories_remaining" class="fs-20 text-ntrl-30">Remaining</p>
                        <p class="fs-40 fw-b letter-sp-1 text-acnt-orange">0</p>
                    </div>
                    <div class="calorie-info__over flex-col ai-cntr">
                        <p id="calories_over" class="fs-20 text-ntrl-30">Over</p>
                        <p class="fs-40 fw-b letter-sp-1 text-prim-red">0</p>
                    </div>
                </div>
            </div>
            <div class="today__macro-info bg-ntrl-10 shad-2">
                <h3 class="sub-section-title">Today's Macros</h3>
                <div class="macro-info__cards-section">
                    <div class="cards-section__card">
                        <p class="fs-20 fw-b text-acnt-yellow">Fat</p>
                        <p class="fs-20 fw-b text-acnt-yellow">____</p>
                        <p id="fat_today" class="fs-24 fw-b text-ntrl-70">0g</p>
                    </div>
                    <div class="cards-section__card">
                        <p class="fs-20 fw-b text-acnt-lightblue">Carbs</p>
                        <p class="fs-20 fw-b text-acnt-lightblue">____</p>
                        <p id="carbs_today" class="fs-24 fw-b text-ntrl-70">0g</p>
                    </div>
                    <div class="cards-section__card">
                        <p class="fs-20 fw-b text-acnt-purple">Protein</p>
                        <p class="fs-20 fw-b text-acnt-purple">____</p>
                        <p id="protein_today" class="fs-24 fw-b text-ntrl-70">0g</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title">
            <h2 class="fs-28 fw-b line-ht-1">My Week</h2>
            <p class="text-ntrl-60">Feb 9 - Feb 15</p>
        </div>
        <div class="week-section">
            <div class="week__calories bg-ntrl-10 shad-2">
                <h3 class="sub-section-title">Calories</h3>
                <div class="flex jc-btwn">
                    <div class="">
                        <p class="fs-20 text-ntrl-30">This Week's Average</p>
                        <p class="fs-40 fw-b letter-sp-1 text-prim-green">0</p>
                    </div>
                    <div class="bars">
                        <img src="../assets/dashboard/cal_bar.svg" width=75% alt="">
                    </div>
                </div>
            </div>
            <div class="week__macros bg-ntrl-10 shad-2">
                <h3 class="sub-section-title">Macros</h3>
                <div class="flex jc-btwn">
                    <div>
                        <div class="pie">
                            <img src="../assets/dashboard/piechart.svg" alt="">
                        </div>
                        <div class="flex-col">
                            <div class="flex">
                                <p class="fw-b text-acnt-yellow">Fat</p>
                                <p>___</p>
                            </div>
                            <div class="flex">
                                <p class="fw-b text-acnt-lightblue">Carbs</p>
                                <p>___</p>
                            </div>
                            <div class="flex">
                                <p class="fw-b text-acnt-purple">Protein</p>
                                <p>____</p>
                            </div>
                        </div>
                    </div>
                    <div class="bars">
                        <img src="../assets/dashboard/mac_bar.svg" width=75% alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="food-list bg-ntrl-80 shad">
        <div class="breakfast">
            <div class="flex jc-btwn">
                <div class="flex gap-2 left">
                    <button type="button" data-meal="breakfast" class="add-food icon-button">
                        <img src="../assets/dashboard/plus_icon.svg" width=20 alt="">
                    </button>
                    <p class="food-list__title">Breakfast</p>
                </div>
                <div class="flex gap-2 text-ntrl-70">
                    <p><span id="calories_breakfast" class="fs-20">0</span>cal</p>
                    <p><span id="fat_breakfast" class="fs-20">0</span>g</p>
                    <p><span id="carbs_breakfast" class="fs-20">0</span>g</p>
                    <p><span id="protein_breakfast" class="fs-20">0</span>g</p>
                </div>
            </div>
            <ul class="food-list__list">
            </ul>
        </div>
        <div class="lunch">
            <div class="flex jc-btwn">
                <div class="flex gap-2 left">
                    <button type="button" data-meal="lunch" class="add-food icon-button">
                        <img src="../assets/dashboard/plus_icon.svg" width=20 alt="">
                    </button>
                    <p class="food-list__title">Lunch</p>
                </div>
                <div class="flex gap-2 text-ntrl-70">
                    <p><span id="calories_lunch" class="fs-20">0</span>cal</p>
                    <p><span id="fat_lunch" class="fs-20">0</span>g</p>
                    <p><span id="carbs_lunch" class="fs-20">0</span>g</p>
                    <p><span id="protein_lunch" class="fs-20">0</span>g</p>
                </div>
            </div>
            <ul class="food-list__list">
            </ul>
        </div>
        <div class="dinner">
            <div class="flex jc-btwn">
                <div class="flex gap-2 left">
                    <button type="button" data-meal="dinner" class="add-food icon-button">
                        <img src="../assets/dashboard/plus_icon.svg" width=20 alt="">
                    </button>
                    <p class="food-list__title">Dinner</p>
                </div>
                <div class="flex gap-2 text-ntrl-70">
                    <p><span id="calories_dinner" class="fs-20">0</span>cal</p>
                    <p><span id="fat_dinner" class="fs-20">0</span>g</p>
                    <p><span id="carbs_dinner" class="fs-20">0</span>g</p>
                    <p><span id="protein_dinner" class="fs-20">0</span>g</p>
                </div>
            </div>
            <ul class="food-list__list">
            </ul>
        </div>
        <div class="snacks">
            <div class="flex jc-btwn">
                <div class="flex gap-2 left">
                    <button type="button" data-meal="snacks" class="add-food icon-button">
                        <img src="../assets/dashboard/plus_icon.svg" width=20 alt="">
                    </button>
                    <p class="food-list__title">Snacks</p>
                </div>
                <div class="flex gap-2 text-ntrl-70">
                    <p><span id="calories_snack" class="fs-20">0</span>cal</p>
                    <p><span id="fat_snack" class="fs-20">0</span>g</p>
                    <p><span id="carbs_snack" class="fs-20">0</span>g</p>
                    <p><span id="protein_snack" class="fs-20">0</span>g</p>
                </div>
            </div>
            <ul class="food-list__list">
            </ul>
        </div>
    </div>

    <dialog id="set-goal-dialog" class="set-calorie-goal">
        <form id="set-goal-form">
            <h3 class="sub-section-title">Set Your Goal</h3>
            <input type="number" name="calorie_goal" id="calorie-goal" placeholder="0" required>
            <button type="button" data-action="/api/users/set-goal" class="bg-prim-green px-5 py-2">Let's Go!</button>
        </form>
    </dialog>

    <dialog id="search-food" class="search-food">
        <button type="button" aria-label="Cancel" class="icon-button | cancel">
            <img src="../assets/foodlist/cancel_button.svg" alt="">
        </button>
        <div class="searchbar">
            <img src="../assets/foodlist/search_icon.png" width="20" alt="">
            <input type="text" name="searchbar" placeholder="Search your foods" id="searchbar">
        </div>
        <ul id="search-food-list" class="food-list__list">
<!--        <li class="food-list__item clickable" data-id="-1">
                <p>Dot’s Homestyle Snacks Baked Cheese Curls</p>
            </li> -->
        </ul>
    </dialog>

    <dialog id="set-serving" class="set-serving">
        <form id="form-add-food">
            <input type="hidden" name="id">
            <input type="hidden" name="date-eaten">
            <input type="hidden" name="meal">
            <input type="number" name="serving-size" step="0.01" placeholder="0" required id="serving-size">
            <div class="flex-col">
                <select name="serving-unit" id="serving-unit">
                    <option value="g">grams(g)</option>
                    <option value="x">quantity(x)</option>
                    <option value="oz">ounces(oz)</option>
                    <option value="ml">milliliters(mL)</option>
                </select>
            </div>
            <button type="button" data-action="/api/users/add-food-day" class="bg-prim-green px-5 py-2">Done</button>
        </form>
    </dialog>
</body>
</html>