<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Food List - Counter</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/components.css">
    <link rel="stylesheet" href="../styles/foodlist.css">
    <script type="module" src="../scripts/foodlist.js" defer></script>
</head>
<body>
<div class="body">
    <div class="sidebar">
        <div class="sidebar__logo">
            <img src="../assets/shared/logos/logo.svg" alt="">
            <h1 class="fs-24 txt-ntrl-10">Counter</h1>
        </div>
        <ul class="sidebar__list">
            <li class="bg-acnt-yellow">
                <a href="/dashboard">
                    <img src="../assets/shared/sidebar/dashboard.svg" alt="">
                    <p class=>Dashboard</p>
                </a>
            </li>
            <li class="bg-acnt-lblue">
                <a href="/foodlist">
                    <img src="../assets/shared/sidebar/foodlist.svg" alt="">
                    <p>Food List</p>
                </a>
            </li>
            <li class="bg-acnt-purple">
                <a href="/recipes">
                    <img src="../assets/shared/sidebar/recipes.svg" alt="">
                    <p>Recipes</p>
                </a>
            </li>
        </ul>
    </div>


    <div class="main shadow">
        <p class="section-title">My Food List</p>
        <div class="content">
            <div id="searchbar" class="searchbar">
                <img class="searchbar__icon" src="../assets/shared/icons/search.png" alt="">
                <input type="text" placeholder="Search your foods" id="searchbar_input">
                <button type="button" id="addfood_btn" class="icon_button">
                    <img src="../assets/shared/icons/add.svg" alt="">
                </button>
            </div>
            <ul id="foodlist" class="foodlist">
            </ul>
        </div>
    </div>
</div>

<dialog class="shadow">
    <div class="flex ai-cntr jc-btwn">
        <p id="dialog_title" class="dialog-title">Add New Food</p>
        <button type="button" id="cancel_btn" class="icon_button">
            <img src="../assets/shared/icons/cancel.svg" alt="">
        </button>
    </div>
    <form id="foodform" class="foodform">
        <input type="hidden" name="id">
        <div class="input-label">
            <label for="name">Food Name</label>
            <input type="text" name="name" id="name" placeholder="apple" required class="input-1">
        </div>
        <div class="flex jc-cntr gap-4">
            <div class="input-label">
                <label for="servsize">Serving Size</label>
                <input type="number" name="servsize" id="servsize" placeholder="150" step="0.01" required class="input-1">
            </div>
            <div class="input-label">
                <label for="unit">Unit</label>
                <select name="unit" id="unit" class="input-1">
                    <option value="g">grams(g)</option>
                    <option value="x">quantity(x)</option>
                    <option value="oz">ounces(oz)</option>
                    <option value="ml">milliliters(mL)</option>
                </select>
            </div>
        </div>
        <div class="cardsection">
            <div class="card-cal txt-prim-green">
                <label for="cal" class="card__title">Calories</label>
                <svg width="100%" height="2">
                    <use href="../assets/icons.svg#line-divider"/>
                </svg>
                <input type="number" name="cal" id="cal" placeholder="0" step="0.01" required class="card__input">
            </div>
            <div class="card txt-acnt-yellow">
                <label for="fat" class="card__title">Fat</label>
                <svg width="100%" height="2">
                    <use href="../assets/icons.svg#line-divider"/>
                </svg>
                <input type="number" name="fat" id="fat" placeholder="0" step="0.01" required class="card__input">
            </div>
            <div class="card txt-acnt-lightblue">
                <label for="carb" class="card__title">Carbs</label>
                <svg width="100%" height="2">
                    <use href="../assets/icons.svg#line-divider"/>
                </svg>
                <input type="number" name="carb" id="carb" placeholder="0" step="0.01" required class="card__input">
            </div>
            <div class="card txt-acnt-purple">
                <label for="prot" class="card__title">Protein</label>
                <svg width="100%" height="2">
                    <use href="../assets/icons.svg#line-divider"/>
                </svg>
                <input type="number" name="prot" id="prot" placeholder="0" step="0.01" required class="card__input">
            </div>
        </div>
        <p id="error_message" class="fs-14 txt-prim-red"></p>
        <div class="flex jc-btwn">
            <button type="button" id="delete_btn" class="delete_btn button-1 bg-prim-red">Delete</button>
            <button type="button" id="submit_btn" data-method="" class="button-1 bg-prim-green">Add Food</button>
        </div>
    </form>
</dialog>
</body>
</html>