<dialog id="search_dialog" class="search_dialog shadow">
    <div id="searchbar" class="search_dialog__searchbar">
        <img class="searchbar__icon" src="../assets/dashboard/search.svg" alt="" width="20">
        <input type="text" placeholder="Search your foods" id="searchbar_input">
        <button type="button" id="clear_search_btn" class="icon_button">
            <img src="../assets/shared/icons/cancel.svg" alt="" width="25">
        </button>
    </div>
    <ul id="searchlist" class="search_dialog__searchlist">
    </ul>
</dialog>