.goal-progress-bar {
    stroke: var(--clr-primary-green);
    transition: stroke-dashoffset 800ms ease-in;
}

.over-progress-bar {
    stroke: var(--clr-primary-red);
    transition: stroke-dashoffset 800ms ease-in;    
}

.whole-progress-bar {
    stroke: var(--clr-neutral-40);
    transition: stroke-dashoffset 800ms ease-in;       
}